---
import Container from "./Container.astro";
import { Icon } from "astro-icon";
import site from "../data/site.json";

let educations = [
	{
		title: "Bachelor of Science in Computer Science",
		school: "Stanford University",
		date: "September 2010 - June 2014",
		description: "Focused on algorithms, data structures, and software engineering. Graduated with honors.",
	},
	{
		title: "Master of Business Administration",
		school: "Harvard Business School",
		date: "September 2016 - May 2018",
		description: "Specialized in technology management and entrepreneurship. Completed capstone project on AI in healthcare.",
	},
];

let experience = [
	{
		title: "Senior Software Engineer",
		company: "TechCorp Inc.",
		date: "January 2019 - Present",
		description:
			"Lead a team of 5 engineers to develop and implement scalable software solutions, reducing system downtime by 30%. Also responsible for code reviews and mentorship.",
	},
	{
		title: "Project Manager",
		company: "Innovate Solutions",
		date: "June 2015 - December 2018",
		description:
			"Managed multiple high-stakes projects from conception to completion. Improved project delivery times by 15% through optimized workflows.",
	},
];
---

<div @keydown.escape="aboutOpen=false" class="about fixed left-1/2 -translate-x-1/2 z-20" transition:animate="initial">
	<div class="flex items-center justify-center px-10 py-4 w-full">
		<!-- Left Content -->

		<template x-teleport="body">
			<div
				x-show="aboutOpen"
				x-transition:enter="transition ease-out duration-300"
				x-transition:enter-start="-translate-y-full"
				x-transition:enter-end="translate-y-0"
				x-transition:leave="transition ease-in duration-300"
				x-transition:leave-start="translate-y-0"
				x-transition:leave-end="-translate-y-full"
				class="flex flex-col gap-32 pt-32 pb-40 fixed inset-0 min-h-screen bg-secondary-50 text-gray-900 overflow-auto">
				<section class="pt-8">
					<Container>
						<div class="flex flex-col self-stretch justify-center">
							<h2 class="text-3xl font-bold pb-8">Jon Doe</h2>
							<p>
								I'm a passionate and dedicated professional with over 10 years of experience in the tech industry. Specializing in
								software development and project management, I've successfully led teams to deliver high-impact projects on time and
								within budget. Outside of work, I enjoy hiking, photography, and volunteering in my community. I'm always eager to
								take on new challenges and continuously grow both personally and professionally.
							</p>
							<div class="flex pt-8 gap-8">
								{
									site.socials.map((social) => (
										<a
											data-cursor-hover
											data-hover-title
											aria-label="Social"
											href={social.link}
											target="_blank"
											rel="noopener noreferrer">
											<Icon class="w-6 h-6" name={social.icon} />
										</a>
									))
								}
							</div>
						</div>
					</Container>
				</section>

				<section>
					<Container class="flex flex-col gap-16 justify-between">
						<div class="flex flex-col">
							<h2 class="font-bold mb-6">Experience</h2>
							<div class="grid lg:grid-cols-2 gap-16">
								{
									experience.map((e) => (
										<div>
											<h3 class="text-xl font-semibold">{e.title}</h3>
											<h5 class="font-semibold">{e.company}</h5>
											<h4 class="font-normal text-sm">{e.date}</h4>
											<p class="pt-4">{e.description}</p>
										</div>
									))
								}
							</div>
						</div>
						<div class="flex flex-col">
							<h2 class="font-bold mb-6">Education</h2>
							<div class="grid lg:grid-cols-2 gap-16">
								{
									educations.map((e) => (
										<div>
											<h3 class="text-xl font-semibold">{e.title}</h3>
											<h5 class="font-semibold">{e.school}</h5>
											<h4 class="font-normal text-sm">{e.date}</h4>
											<p class="pt-4">{e.description}</p>
										</div>
									))
								}
							</div>
						</div>
					</Container>
				</section>
			</div>
		</template>

		<div
			x-show="!portfolioOpen"
			@click="aboutOpen = !aboutOpen"
			class="p-4 select-none text-center cursor-pointer cursor-target"
			data-cursor-hover
			data-cursor-parallax>
			<span
				class="cursor-target-text block break-keep whitespace-nowrap"
				data-cursor-parallax-elelement
				x-text="aboutOpen ? 'Close' : 'About Me'">
			</span>
		</div>
	</div>
</div>

<style>
	.about {
		mix-blend-mode: difference;
		position: fixed;
		top: 0;
	}
</style>
